app = 'triswift-frontend'
primary_region = 'arn'

[build]
  [build.args]
    REACT_APP_MAPBOX_TOKEN = "pk.eyJ1Ijoic2FtdzA5MDciLCJhIjoiY21keDRzOHN1MjJzMTJpczg5ZndnM3ZvdCJ9.k9KgFQnwBlzk2GAyw6LNCA"

[env]
  NODE_ENV = "production"

[http_service]
  internal_port = 3000
  force_https = true
  auto_start_machines = true
  auto_stop_machines = "stop"
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = "requests"
    soft_limit = 50
    hard_limit = 75

[[vm]]
  cpu_kind = "shared"
  size = "shared-cpu-1x"
  memory = 256
