app = 'triswift-backend'
primary_region = 'arn'

[build]

[http_service]
  internal_port = 3001
  force_https = true
  auto_start_machines = true
  auto_stop_machines = "suspend"
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = "requests"
    soft_limit = 25
    hard_limit = 35

[[vm]]
  cpu_kind = "shared"
  size = "shared-cpu-1x"
  memory = 256
