.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5ac3b0;
  padding: 15px 30px;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 14px;
  border-radius: 6px;
  transition: background 0.3s ease-in-out;
}

.nav-links a:hover {
  background-color: #44b2a0;
}

.nav-auth {
  display: flex;
  gap: 10px;
}

.nav-btn {
  background: #f7cd46;
  color: #013f2f;
  padding: 8px 14px;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s ease-in-out;
}

.nav-btn:hover {
  background: #e0b934;
  color: white;
}

.logout-btn {
  background: #de5935;
  color: white;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s ease-in-out;
}

.logout-btn:hover {
  background: #c94620;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
    padding: 15px;
  }

  .nav-links {
    flex-direction: row;
    margin-top: 10px;
  }

  .nav-auth {
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
  }
}
